{% extends "templates/index.html" %}

{% block main %}
	<div class="colors__container">
		<div class="section__header-wrapper">
			<h2 class="section__header">Colors</h2>
		</div>

		<div class="section__content-wrapper">
			<div class="section__divider"></div>
				<div class="colors__content-wrapper">
					<div class="colors__row">
						<div class="colors__group">
							<h4 class="section__title">Primary colors</h4>
							<div class="colors__group-wrapper">
								<p class="colors__color" id="colors__001689">#001689</p>
								<p class="colors__color" id="colors__25B1EB">#25B1EB</p>
							</div>
						</div>
						
						<div class="colors__group">
							<h4 class="section__title">Secondary colors</h4>
							<div class="colors__group-wrapper">
								<p class="colors__color" id="colors__121212">#121212</p>
								<p class="colors__color" id="colors__f4f4f4">#F4F4F4</p>
							</div>
						</div>


						<div class="colors__group">
							<h4 class="section__title">Accent color</h4>
							<div class="colors__group-wrapper">
								<p class="colors__color" id="colors__db2663">#DB2663</p>
							</div>
						</div>
				</div>

			<div class="colors__row">
				<div class="colors__group">
					<h4 class="section__title">Text color</h4>
					<div class="colors__group-wrapper">
						<p class="colors__color" id="colors__23292e">#23292E</p>
					</div>
				</div>

				<div class="colors__group">
					<h4 class="section__title">Background colors</h4>
					<div class="colors__group-wrapper">
						<p class="colors__color" id="colors__f4f4f4">#F4F4F4</p>
						<p class="colors__color" id="colors__fff">#FFFFFF</p>
					</div>
				</div>

				<div class="colors__group">
					<h4 class="section__title">Greyscale Palette</h4>
					<div class="colors__group-wrapper">
						<p class="colors__color" id="colors__343c41">#343C41</p>
						<p class="colors__color" id="colors__484f55">#484F55</p>
						<p class="colors__color" id="colors__5d636a">#5D636A</p>
						<p class="colors__color" id="colors__868c91">#868C91</p>
						<p class="colors__color" id="colors__f4f4f4">#F4F4F4</p>
					</div>
				</div>
			</div>
			
			<div class="colors__row">
				<div class="colors__group">
					<h4 class="section__title">Status colors</h4>
					<div class="colors__group-wrapper">
						<p class="colors__color" id="colors__7ccc10">#7CCC10</p>
						<p class="colors__color" id="colors__fab909">#FAB909</p>
						<p class="colors__color" id="colors__fb6127">#FB6127</p>
						<p class="colors__color" id="colors__dd0026">#DD0026</p>
						<p class="colors__color" id="colors__868c91">#868C91</p>
					</div>
				</div>
			</div>
			<div class="colors__row">
				<div class="colors__group">
					<h4 class="section__title">Data visualization palette</h4>
					<div class="colors__group-wrapper">
						<p class="colors__color" id="colors__b380e0">#B380E0</p>
						<p class="colors__color" id="colors__8747b8">#8747B8</p>
						<p class="colors__color" id="colors__6e177d">#6E177D</p>
						<p class="colors__color" id="colors__a71c71">#A71C71</p>
						<p class="colors__color" id="colors__db2663">#DB2663</p>
						<p class="colors__color" id="colors__d75193">#D75193</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	

	
{% endblock %}
