{% extends "templates/index.html" %}

{% block main %}
	<div class="identity__container">
		<div class="section__header-wrapper">
				<h2 class="section__header">Identity</h2>
			</div>

			<div class="section__content-wrapper">
				<div class="section__divider"></div>
				<div class="identity__content">
					<div class="identity__content-section">
						<p class="identity__content-text">The logotype is set in IBM Plex Sans, previously known as Eliot Sans, and should always be inline.</p>
						<img class="identity__content-logo" src="/images/ibm-q-logo.png" alt="IBM Q Logo">
						<ul class="identity__list">
							<li>'IBM' should always appear in <span class="identity__list--underline">IBM Plex Regular.</span></li>
							<li>'Q' should always appear in <span class="identity__list--underline">IBM Plex Bold.</span></li>
						</ul>
					</div>
					<div class="identity__content-section">
						<p class="identity__content-text">Padding around all sides of the logotype should be at least the cap height.</p>
						<img class="identity__content-logo--grid" src="/images/ibm-q-logo-grid.png" alt="IBM Q Logo Grid">
					</div>
				</div>
			</div>
	</div>
	

	
{% endblock %}
