{% extends "templates/index.html" %}

{% block main %}
	<div class="getting-started__container">
		<div class="section__header-wrapper">
				<h2 class="section__header">Developers</h2>
				<p class="section__description">
				The Q Component Library provides front-end developers & engineers a collection of reusable HTML and SCSS partials to build websites and user interfaces. Adopting the library enables developers to use consistent markup, styles, and behavior in prototype and production work.
				</p>
			</div>

			<div class="section__content-wrapper getting-started__wrapper">
				<div class="section__divider"></div>
				<div class="getting-started__step">	
					<div class="section__title">1. Download the kit</div>
					<p class="getting-started__step-description">
						Go to the Q Design Kit repo and click on the latest version of the Q Design Kit to download it.
					</p>
					<img class="getting-started__img" src="/images/github.png" alt="Github">
				</div>

				<div class="getting-started__step">
					<div class="section__title">2. Open Sketch or Illustrator</div>
					<p class="getting-started__step-description">
						Don’t have Sketch or Illustrator? Click here and follow the instruction.
					</p>
					<img class="getting-started__img" src="/images/illustrator.png" alt="Illustrator">
				</div>

				<div class="getting-started__step">
					<div class="section__title">3. Using the Design Kit</div>
					<p class="cgetting-started__step-description">
						The Design Kit contains core visual styles, color palettes, text styles, elements and  components, and templates for rapid design and layout prototyping. Each is designated its own page, which may be accessed via the left side panel.
					</p>
					<img class="getting-started__img" src="/images/illustrator.png" alt="Illustrator">
				</div>

			</div>
	</div>
	

	
{% endblock %}
